
<div class="container mx-auto bg-yellow-100 pt-5">
  <h1 class="text-5xl font-normal text-emerald-600 leading-normal pl-2">Living Room</h1>
  <p class="text-base font-bold text-orange-500 leading-relaxed mt-0 m-2 pl-2">You should click me!</p>
  <%= render "layouts/counter_widget" %>
</div>




